<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M:OFF</title>
  <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body>
  <div class="wrap">
    <header>
      <section class="hd1Wrap">
        <div class="left">
          <button type="button" class="btnGnb">휴가신청</button>
        </div>
        <div class="right">
          <nav class="tnb">
            <ul>
              <li><a href="./myinfo.html" class="myinfo">내정보</a></li>
              <li><a href="./notice.html" class="notice">알림</a></li>
              <li><a href="./setting.html" class="setting">설정</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <nav class="gnb">
        <ul>
          <li><a href="./commute.html">출/퇴근</a></li>
          <li><a href="./calendar.html">회사일정</a></li>
          <li><a href="./outside.html">외근관리</a></li>
          <li><a href="./approval.html">전자결재</a></li>
          <li><a href="./vacation.html" class="on">휴가신청</a></li>
          <li><a href="./bscard.html">명함관리</a></li>
          <li><a href="./notice.html">공지사항</a></li>
          <li><a href="./gallery.html">갤러리</a></li>
          <li><a href="./document.html">증빙서류</a></li>
          <li><a href="./education.html">사내교육</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="bgB">
        <section class="titWrap">
          <p class="period">
            2022.06.07 ~ 2023.06.06
          </p>
          <button type="button" class="btnSmall t1">휴가신청</button>
        </section>
        <section class="infoWrap">
          <div class="titArea">
            <p class="state remain">잔여 휴가</p>
            <p class="time">9.5일</p>
          </div>
          <div class="titArea">
            <p class="state used">사용 휴가</p>
            <p class="time">5.5일</p>
          </div>
          <div class="col3Area">
            <ul>
              <li>
                <p class="tit">기본 휴가일수</p>
                <p class="exp">12</p>
              </li>
              <li>
                <p class="tit">근속 추가휴가</p>
                <p class="exp">3</p>
              </li>
              <li>
                <p class="tit">전체 연차일수</p>
                <p class="exp">15</p>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="bgW">
        <section class="scrolltabWrap">
          <ul>
            <li><a href="#t1" class="on">연차/월차(5.5)</a></li>
            <li><a href="#t2">특별휴가(1.0)</a></li>
            <li><a href="#t3">경조휴가(3.0)</a></li>
            <li><a href="#t4">교육(20.0)</a></li>
          </ul>
        </section>
        <section class="tblWrap">
          <table>
            <thead>
              <tr>
                <th scope="col">시작일자~종료일자</th>
                <th scope="col">휴가 시간</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2022-08-26~2022-08-26</td>
                <td>
                  <p class="ing">결제 진행중</p>
                  <p class="use">연차 1.0일</p>
                </td>
                <td><button type="button" class="btnSmall t2">휴가취소</button></td>
              </tr>
              <tr>
                <td>2022-08-26~2022-08-26</td>
                <td>
                  <p class="ing">결제 진행중</p>
                  <p class="use">연차 2.0일</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>2022-08-26~2022-08-26</td>
                <td>
                  <p class="end">결제 완료</p>
                  <p class="use">오후반차 0.5일</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>2022-08-26~2022-08-26</td>
                <td>
                  <p class="end">결제 완료</p>
                  <p class="use">오후반차 0.5일</p>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>2022-08-26~2022-08-26</td>
                <td>
                  <p class="end">결제 완료</p>
                  <p class="use">연차 2.0일</p>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>


      <aside>
        <button type="button" class="btnTop">TOP</button>
      </aside>
    </main>
    <footer>
      <nav class="fnb">
        <ul>
          <li>
            <a href="./approval.html" class="apprival">전자결재</a>
          </li>
          <li>
            <a href="./vacation.html" class="vacation">휴가신청</a>
          </li>
          <li>
            <a href="./commute.html" class="commute">출퇴근</a>
          </li>
          <li>
            <a href="./bscard.html" class="bscard on">명함관리</a>
          </li>
          <li>
            <a href="./calendar.html" class="calendar">회사일정</a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
  <div class="popWrap">
    <header>
      <button type="button" class="btnBack">팝업 닫기</button>
      <p class="titPop">휴가신청</p>
    </header>
    <section>
      <select class="">
        <option>연차/월차</option>
        <option>특별휴가</option>
        <option>경조휴가</option>
        <option>교육</option>
      </select>
    </section>
    <footer>
      <section class="btnWrap">
        <button type="button" class="btnBig t1">신청</button>
        <button type="button" class="btnBig t2">취소</button>
      </section>
    </footer>
  </div>
  <script src="../assets/js/common.js"></script>
</body>

</html>